<div class="admin-container">
  <header class="admin-header">
    <h2>Admin Dashboard</h2>
    <button class="logout-button" (click)="logout()">Logout</button>
  </header>

  <section class="top-actions">
    <button class="create-button" (click)="navigateToCreateMember()">+ Create Member</button>
  </section>

  <section *ngIf="loading" class="loading">
    <p>Loading users...</p>
  </section>

  <section *ngIf="errorMessage" class="error">
    <p>{{ errorMessage }}</p>
  </section>
  <section>
  <input type="text" [(ngModel)]="newTeamName" placeholder="New team name" />
  <button class="add-team-box" (click)="addTeam()">➕ Add Team</button>
  </section>

  <section *ngIf="!loading && !selectedTeam" class="team-cards">
    <h3>Teams</h3>
    <div class="cards-wrapper">
      <article
        class="team-card"
        *ngFor="let team of teams"
        (click)="selectTeam(team)">
        <span class="team-name">{{ team }}    </span><br>
        <span class="team-count">Members: {{ getTeamMembers(team).length }}</span>
          <button class="delete-team-button" (click)="deleteTeam(team); $event.stopPropagation()">🗑 Delete</button>
      </article>
    </div>
  </section>

  <section *ngIf="!loading && selectedTeam" class="team-members">
    <button class="back-button" (click)="clearSelection()">← Back</button>
    <h3>{{ selectedTeam }} Team Members</h3>

    <button 
      class="action-button" 
      style="margin: 10px 0;" 
      (click)="navigateToTeamMood(selectedTeam)">
      📊 View Team Mood
    </button>

    <table *ngIf="getTeamMembers(selectedTeam).length > 0" class="user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Password</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of getTeamMembers(selectedTeam)">
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>
            <button class="delete-button" (click)="deleteUser(user)">🗑 Delete</button>
            <button class="action-button" (click)="navigateToUserMood(user.name)">📈 View Mood</button>
          </td>
        </tr>
      </tbody>
    </table>

    <p *ngIf="getTeamMembers(selectedTeam).length === 0" class="no-members">
      No members in this team.
    </p>
  </section>
</div>
